/* body {
  margin-top: 100px;
  background-color: #137b85;
  color: #fff;
  text-align: center;
} */

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 135, 147, 0.3); /* bordo semitrasparente */
  border-radius: 50%;
  border-top-color: rgb(0, 135, 147); /* parte animata piena */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
